.circleContainer{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleCPB {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    color: var(--title-color);
}

.circle-out{
    background-color: var(--buttons-color);
    width: 66%;
    height: 62%;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.circle-in{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--box-color1);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-in p{
    color: var(--text-color);
    font-size: 12px;
}

.right, .left{
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -5%;
    margin: auto;
    transition-property: transform;
    transition-duration: 2s;
}

.right{
    z-index: 1;
}


.rectangle-100, .rectangle-50{
    width: 50%;
    height: 100%;
    background-color: var(--bg-center);
}

.rectangle-100{
    float: left;
}

.rectangle-50{
    float: right;
    margin-right: 1px;
}




