.DownloadSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.DownloadSection a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    transition-property: color;
    transition-duration: 400ms;
}

.DownloadSection a svg{
    margin-left: 5px;
    fill: var(--text-color);
    transition-property: fill;
    transition-duration: 400ms;
}

.DownloadSection:hover > a{
    color: var(--title-color);
}

.DownloadSection:hover > a svg{
    fill: var(--title-color);
}