:root{
    --bg-color: #001520;
    --buttons-color: #efba34;
    --bg-center: #0c242f;
    --box-color1: #18323e;
    --box-color2: #2f4f5c;
    --text-color: #a0a7ac;
    --title-color: #fff;
    --bg-color-op: #001520ce;
    --bg-color-opLight: #00152097;
  }

.homeconatiner{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    background-color: var(--bg-center);
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
}

.section{
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}

.main{
    display: flex;
}

.mainsec{
    width: 50%;
}

.mainsection1{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.mainsection1Title{
    animation-name: opacity;
    animation-duration: 1s;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mainsection1TitleName{
    display: flex;
}

.mainsection1TitleName h1{
    font-size: 4.5rem;
    color: var(--title-color);
    margin-bottom: 0;
}

.mainsection1TitleName :last-child{
    color: var(--buttons-color);
}

.mainsection1Title h4{
    font-size: 2rem;
    margin-top: 10px;
}

.mainsection1text{
    color: var(--text-color);
    font-size: 1.4rem;
    width: 80%;
    height: 50%;
}

.mainsection2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainsection2 svg{
    scale: 40;
    color: var(--bg-color);
}


.project1{
}

.contact{
    width: 100%;
    height: 100%;
    display: flex;
}

.contactsec{
    height: 100%;
}

.contactsection1{
    width: 60%;
    /* padding-top: 10%; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.contactsection1Title{
    width: 80%;
    display: flex;
    font-size: 1.2rem;
    animation-name: opacity;
    animation-duration: 1s;
}

.contactsection1Title h1{
    color: var(--title-color);
    margin-bottom: 0px;
}

.contactsection1Title :last-child{
    color: var(--buttons-color);
}

.contactsection1Text{
    width: 80%;
}

.contactsection1Text h4{
    font-size: 1.2rem;
}

.contactsection1Text h1{
    text-decoration: underline;
    color: var(--text-color);
}


.contactsection2{
    width: 40%;
    display: flex;
    align-items: flex-end;

}

.contactsection2 img{
    width: 100%;
}

@keyframes opacity{
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: 1;}
}

@keyframes fade-up{
    0% {top: 300;}
    50% {top: 150;}
    100% {top: 0;}
}